@model IEnumerable<UserViewModel>
@{

    int chunk = ViewBag.Chunk != null && ViewBag.Chunk > 1 ? ViewBag.Chunk : 1;
}

@foreach (var item in Model)
{

}

<a class="btn btn-default" data-ajax="true" data-ajax-url="@Url.Action("Users","Search",new { chunk)">More</a>