@model ChatRoomViewModel
@{
    Layout = null;
    string selectedId = ViewBag.SelectedId;
}

@inject IIdentityService identity

<div class="tab-pane chat-messages scrollable fade @(Model.Id==selectedId?"show active":"")" id="chat@(Model.Id)" role="tabpanel" aria-labelledby="chat@(Model.Id)-tab" data-id="@Model.Id">
    @foreach (var message in Model.Messages)
    {
        <partial name="_Message" model="@message" />
    }
</div>