@model ChatRoomViewModel
@{
    Layout = null;
}
@inject IIdentityService<User> identity

<div class="mb-3 mt-2">
    <h4 class="chat-heading d-inline-block align-middle">@Model.RoomName</h4>
    <a data-ajax="true"
       class="btn btn-primary btn-invite d-inline-block align-middle float-right"
       data-ajax-success="partialModal"
       data-ajax-method="GET"
       data-ajax-url="@Url.Action("Invite","chat",new { id = Model.Id })"><i class="fa fa-plus-circle"></i></a>
</div>
<div class="chat-messages scrollable">

    <a data-ajax="true" style="background-color: white;margin: auto;display: block;border:none;font-weight: 500;margin-bottom: 20px;cursor:pointer;" class="btn btn-default align-middle" data-ajax-success="onLoadMoreMessages" data-ajax-method="GET" data-ajax-url="/api/messages?roomId=@Model.Id&tail=@(Model.Messages?.FirstOrDefault()?.Id)">
        load older messages
    </a>

    @foreach (var message in Model.Messages)
    {
        <partial name="_Message" model="@message" />
    }
</div>

<form method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="/Chat/Sent" data-ajax-success="onMessageSent" class="mt-2">
    <div class="input-group">
        <input type="hidden" name="roomid" value="@Model.Id" />
        <textarea class="form-control message-input" name="text" value="" placeholder="Type a message" required style="border-radius:10px;resize:none;"></textarea>
        <button type="submit" class="btn">
            <i class="fa fa-telegram" style="font-size:36px;color:cornflowerblue"></i>
        </button>
    </div>
</form>
