@model ChatRoomViewModel
@{
    Layout = null;
    string selectedId = ViewBag.SelectedId;
}

@inject IIdentityService identity

<div class="tab-pane fade @(Model.Id==selectedId?"show active":"")" id="chat@(Model.Id)" role="tabpanel" aria-labelledby="chat@(Model.Id)-tab">
    <partial name="_chat" model="@Model" />
</div>