@model MessageViewModel
@{
    Layout = null;
}
@inject IIdentityService<User> identity

<div class="alert alert-primary @(Model.SenderId==identity.CurrentUserId?"outcomming":"incomming")" role="alert">
    <p>@Model.Text</p>
    <hr>
    <p class="message-info">
        <span class="message-date">@Model.SendDate.ToString("yyyy-MM-dd hh:mm:ss")</span> @Model.SenderUserName
    </p>
</div>