@model InviteViewModel
@{
    String roomName = String.IsNullOrEmpty(Model.RoomName) ? Model.RoomId : Model.RoomName;
    ViewData["Title"] = $"Invite people to room {roomName}";
}
<h2>Invite people to room @roomName</h2>
<form asp-action="Invite" method="post" asp-antiforgery="true">
    <input hidden="hidden" name="roomId" value="@Model.RoomId" />
    <div class="form-group">
        <select class="form-control" name="people" multiple="multiple">
            @foreach (var user in Model.Users)
            {
                <option value="@user.Id">@user.UserName</option>
            }
        </select>
    </div>
    <button class="btn btn-success" type="submit">Invite</button>
</form>